* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
    cursor: crosshair;
    font-family:sans-serif;
    scroll-behavior: smooth;
}

* a {
    text-decoration: none;
    color: inherit;
    background: inherit;
}
html {
    scroll-behavior: smooth;
}

img {
    user-zoom: none;
    user-select: none;
}


/* MODAL BEGINNING CSS */
.modal {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: rgba(0,0,0,0.1);
    backdrop-filter: blur(0.1rem);
}
.noticeModal {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top:0;
    width: 100%;
    height: 100vh;
    overflow: auto;
    background: rgba(255, 0, 0, 0.9);
    backdrop-filter: blur(0.1rem);
    background: rgba(255, 255, 255, 0.1 );
    backdrop-filter: blur(1rem);
}
.qst {
    font-weight: 900;
    font-size: 1.8rem;
}
.modal p {
    line-height: 1.3rem;
}
.no {
    width: 120px;
    padding: 10px 20px;
    margin-right: 10px;
    background: rgb(0, 0, 185);
    color: whitesmoke;
    border: none;
    font-weight: 700;
}
.yes {
    width: 120px;
    padding: 10px 20px;
    background: whitesmoke;
    color:rgb(0, 0, 185) ;
    font-weight: 700;
    border: none;
}
.modal-content {
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    margin: 15% auto;
    padding: 20px;
    width:450px;
    min-height: 200px;
}
.notice-modal-content { 
    text-align: center;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    margin: 10vh auto;
    padding: 20px;
    width:450px;
    min-height: 200px;
}
.notice-modal-content h2 {
    font-size: 30px;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 15px;
}
.notice-modal-content p{ 
    width: 90%;
    font-size: .9rem;
    margin: 15px auto;
    text-align: center;
}
.notice-modal-content button {
    background: dodgerblue;
    color: white;
    width: 90%;
    border: none;
    padding: 18px 0;
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.close {
    color: rgb(0, 0, 0);
    float: right;
    font-size: 30px;
    font-weight: 500;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
/* Modal ending */

/* glass */
.skyline {
    margin: 0;
    padding: 0;
    margin-bottom: -5px;
}
.capsule1 {
    width: 100%;
    height: auto;
    background:url(./bg-images/glassCopy.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.capsule2 {
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(5rem);
    padding: 20px 0 0 0;
}

/* MENU */
.logo{
    text-align: center;
    margin: 0px auto;
}
#menuDemo { 
    text-align:center; 
    padding:30px 8px;
}
/* MENU END */

/*BLOG*/
.blog-grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.word-items {
    font-size: 17px;
    line-height: 2rem;
}
.img-title {
    font-weight: 800;
    text-align: center;
    color: grey;
    font-size: 15px;
    padding: 10px;
    margin-bottom: 10px;
}
.blog-header {
 text-align: center;
}
.blog-header h1 {
    color: rgb(245, 245, 247);
    font-size: 5rem;
    font-weight: 900;
}
.blog-header h2 {
    margin-top: -50px;
    font-weight: 800;
    color: dodgerblue;
    font-size: 2rem;
    
}
.blog-post-title h1 {
    text-align: center;
    font-size: 3rem;
    max-width: 1100px;
    margin: auto;
    font-weight: 900;
    padding:0 10px;
}
.blog-post-title p {
    text-align: center;
    max-width: 800px;
    margin: auto;
    color: grey;
    padding:0 10px;
}

.blog-video-picture {
    max-width: 100%;
    height: auto;
    margin:0 auto;
    text-align: center;
}

.blog-video-picture img {
    width: 100%;
    text-align: center;
}

.blog-article {
    /* background:rgb(0, 81, 255) ; */
    padding:0 20px;
    max-width: 1300px;
    color: #333;
}

.repost {
    /* background:red; */
    max-width: 1300px;
}
.related-posts {
    padding: 15px;
    /* background:purple; */
}
.related-posts h2 {
    font-size: 1.7rem;
    font-weight: 700;
}
.re-posts {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
}
.read-more {
    padding: 10px 30px;
    border: 1.5px solid black;
    border-radius: 6px;
    color: #000;
}
.read-more:focus {
    background: black;
    color: white;
}
.phrase-recent {
    font-size: .9rem;
    line-height: 1.4rem;
    font-weight: 700;
    margin: 10px 0 15px 0;
}
.re-posts > div {
    /* background: rgb(255, 255, 255); */
    text-align: center;
    width: 250px;
    height: 300px;
    margin: 40px 40px 40px 0;
}
/*BLOG HEADER END*/





/*Header Basic Style*/

.first-head{
    max-width: 1100px;
    margin: auto;
    font-weight: 700;
    font-size: 3.5rem;
    /* background: cadetblue; */
    line-height: 4.5rem;
    color: rgb(39, 39, 39);
    text-align: center;
}


#spin {
    color:rgb(7, 224, 0);
}
#spin::after {
    content: "";
    animation: spin 6s linear infinite;
}
@keyframes spin {
    0%{content:"Work";}
    55%{content:"Study"}
    85%{content: "Migration";}
    100%{content: "Migration";}
}
.access-h2 {
    font-weight:600;
    font-size: 2rem;
    margin: 0px 0px;
    text-align: center;
    color: rgb(0, 0, 0);
}
.typewriter {
    font-family: sans-serif;
    overflow: hidden;
    color: darkslategray;
    font-size: 1.6rem;
    font-weight: 800;
    text-align: center;
    border-right: 3px solid white;
    white-space: nowrap;
    margin: 0px auto 0px auto;
    letter-spacing: .15em;
    animation: typing 5s steps(30, end), blink-caret .6s step-end infinite;
}
@keyframes typing {
    from{width: 0px;}
    to{width:100px;}
}

@keyframes blink-caret {
    from, to {border-color: none;}
    50% {border-color: none}
}

.access-p {
    font-size: 1rem;
    font-weight: 400;
    color: rgb(0, 0, 0);
    line-height: 1.6rem;
    max-width: 800px;
    margin:0px auto;
}

.access {
    margin: 0px 0px;
    width: 100px;
    background: none;
    font-weight: 800;
    font-size:1.1rem;
    text-align: center;
}
.span-arrow {
    padding: 0px 8px;
    background: silver;
    color: white;
    font-weight: 700;
    border-radius: 60%;
}
.top-display ul {
    text-decoration: none;
    list-style: none;
    font-size: .9rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.top-display ul li {
    margin: 0px;
    text-align: center;
}

.f-btn {
    width: 230px;
    padding: 18px 0px;
    border: none;
    background-image:linear-gradient(to right, dodgerblue, dodgerblue);
    color:white ;
    font-size: 1.2rem;
    font-weight: 700;
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    box-shadow: 6px 6px 10px #999;
    text-align: center;
}
.s-btn {
    width: 230px;
    padding: 18px 0px;
    border: none;
    background: rgb(0, 0, 0);
    color:rgb(255, 255, 255) ;
    font-size: 1.2rem;
    border-radius: 5px;
    font-weight: 600;
    text-align: center;
    box-shadow: 6px 6px 10px #999;
}
.top-display {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 1900px;
    padding: 0px 10px;
    margin-top: 50px;
    text-align: center;
}
/* .section-one {
    text-align: center;
    padding: 50px 15px;
} */
.value-boxes { 
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
    justify-content: space-between;
    max-width: 1500px;
    height: 500px;
    margin: auto;
    background: violet;
    margin-top: 50px;
}
.value-boxes > div {
    width: 48%;
    height: 100%;
    /* height: auto; */
    /* padding:25px 15px;
    border-radius: 20px; */
    text-align: center;
    background: rgb(255, 255, 255);
    /* box-shadow: 0px 6px 20px rgb(223, 223, 223); */
    /* margin: 20px; */
}
.value-boxes > div:nth-child(1) {
    background: orange;
}
.value-boxes > div:nth-child(2) {
    background: crimson;
}
.section-1 {
    color: #f66b0e;
    font-size: 1rem;
    font-weight: 800;
    text-align: center;
}
.section-2 {
    color: rgb(29, 0, 97);
    font-weight: 800;
    font-size: 2.2rem;
    text-align: center;
    margin-top: 8px;
}

.section-3 {
    font-size: .9rem;
    color: grey;
    text-align: center;
    margin-top: 20px;
}

.section-two {
    margin-top: 90px;
    padding: 20px 15px;
}

.slider {
    max-width: 900px;
    margin: auto;
    text-align: center;
    overflow: hidden;
}

.linked-slider {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.slider a {
    padding: 5px;
    width: fit-content;
    color: rgb(255, 255, 255);
    margin: 7px;
    text-decoration: none;
}

.slides {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;

}

.slides::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.slides::-webkit-scrollbar-thumb {
    background: rgb(240, 240, 240);
    border-radius: 10px;
    height: 50px;
}

.slides::-webkit-scrollbar-track {
    background: transparent;
}

.slides > div {
    scroll-snap-align: start;
    flex-shrink: 0;
    max-width: 340px;
    min-width: 280px;
    height: 350px;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    margin-right: 50px;
    transform-origin: center center;
    transform: scale(1);
    transition: 0.6s;
    position: relative;
}

.slides > div button {
    padding: 10px 20px;
    font-size: .7rem;
    border: none;
    margin-top: 10px;
    background: #f66b0e;
    color: white;
    font-weight: 700;
}

.slides > div p {
    font-size: 1.3rem;
    margin-top:5px;
}

.slides > div h4 {
    margin-top: 10px;
    font-weight: 800;
}

.color-stars {
    color: gold;
}

.scholarships {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 150px;
    padding: 15px;
}

.scholarships h3{
    font-size: 17px;
    color: #f66b0e;
    font-weight: 800;
    
}

.scholarships h1{
    font-size: 2rem;
    font-weight: 800;
    color:rgb(0, 0, 104);
    margin-top: 5px;
}

.scholarships p {
    font-size: .9rem;
    margin-top: 15px;
    margin-bottom: 25px;
    line-height: 1.72em;
}

.scholarships button {
    width: 200px;
    padding: 12px 0px;
    border: none;
    background-image:linear-gradient(to right, #205375, #f66b0e);
    color:white ;
    font-size: 1.5;
    font-weight: 700;
    border-radius: 5px;
    box-shadow: 6px 6px 10px #999;
}

.scholarships > div:nth-child(1){
    max-width: 500px;
    padding: 10px 0px;
}

.scholarships > div:nth-child(2){
    max-width: 700px;
}

.scholarships > div img {
    width: 100%;
}

.participate {
    width: 100%;
    text-align: center;
    background: url(images/copy.jfif);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin-top: 150px;
}

.participate > div {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.1);
    backdrop-filter: blur(1rem);
    padding: 15vh 10px;
}

.participate h3 {
    color: white;
    font-weight: 800;
    font-size: 1rem;
}

.participate h1 {
    color: rgb(253, 253, 253);
    font-weight: 800;
    font-size: 2.5rem;
    padding: 10px;
}

.participate p{
    max-width: 700px;
    padding: 10px;
    color: white;
    font-size: .9rem;
    margin: auto;
}

.participate button {
    padding: 13px 40px;
    font-size: 1rem;
    border: none;
    margin-top: 40px;
    background-image:linear-gradient(to right, rgb(255, 255, 255), rgb(255, 255, 255));
    color: rgb(17, 11, 11);
    font-weight: 500;
}

.map {
    margin:90px auto;
    width: 70%;
}




/*FOOTER*/
footer {
    background: black;
    color: rgb(245, 238, 238);
    padding: 10vh 0 5vh 0;
    width: 100%;
}
footer .cover {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 90%;
    margin: auto;
    background: inherit;
}
footer .cover ul {
    display: flex;
    flex-wrap: nowrap;
    list-style: none;
    font-size: 14px;
}

footer .cover ul li {
    margin: 5px;
    padding: 8px;
}
footer .cover ul li:hover {
    padding: 8px;
    border-bottom: 1px solid grey;
}

footer .consst {
    display: flex;
    align-items: flex-end;
    max-width: 90%;
    margin:40px auto;
    justify-content: space-between;
    background: inherit;
    color: grey;
    font-size: 14.5px;
    line-height: 1.5rem;
}

footer .consst > div {
    max-width: 450px;
    margin: 20px 20px 0 0;
    padding: 10px 0;
}

.copyright {
    text-align: center;
    margin-top: 50px;
    font-size: .8rem;
    color: grey;
}








/*access test box*/
.access-test-box {
    max-width: 1250px;
    margin: 0 auto;
}
.access-test-box h1 {
    text-align: center;
}
.parag {
    text-align: center;
    max-width: 500px;
    margin: 10px auto 30px auto;
    font-size: 14px;
}
.test-type {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.test-type > div {
    max-width: 500px;
    padding: 30px;
    box-shadow: 1px 1px 10px rgb(214, 214, 255);
    margin: 40px;
}
.test-type > div p {
    font-size: 14px;
    margin: 20px 0px 0px 0px;
    color: grey;
}
.test-type button {
    background: none;
    border: 1px solid blue;
    color: blue;
    padding: 9px 40px;
    border-radius: 50px;
    margin: 20px 0px 0px 0px;
}
.test-type button:hover {
    background: blue;
    color: white;
}
.test-type button:focus {
    background:rgb(230, 230, 230);
    color: black;
    border: 1px solid rgb(230, 230, 230);
}
.paid-icon {
    text-align: right;
    float: right;
    font-weight: 300;
    font-size: 10px;
    color: grey;
    background: rgb(179, 255, 179);
    padding: 5px 10px;
}






/*Study Maaterials*/
.study-materials {
    text-align: center;
    padding: 10vh 10px;
    margin: 50px 0;
    background: rgb(233, 233, 233);
}
.study-materials p {
    font-size: 14px;
    font-weight: 300;
    color: grey;
    margin: 0px 0 0px 0;
}
.study-materials button {
    padding: 12px 70px;
    border: none;
    margin: 0px 0;
    border-radius: 40px;
    background: blue;
    color: white;
    font-weight: 700;
}
.study-materials button:hover {
    background: rgb(96, 147, 255);
    color: white;
}
.study-materials button:focus {
    background: rgb(96, 147, 255);
    color: white;
    border: none;
}






/*Newsletter*/
.newsletter {
    max-width: 1000px;
    margin: 80px auto;
    text-align: center;
}

.newsletter p {
    text-align: center;
    max-width: 700px;
    margin: 10px auto 50px auto;
    font-size: 13px;
    color: grey;
}

.newsletter #mail{
    width: 500px;
    margin: 0;
    padding: 12px 5px 12px 15px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 0px;
    background: rgb(240, 240, 240);
    color: grey;
    border:none;
    outline: none;
}

.newsletter #mail:focus {
    outline: none;
}

.newsletter #submit-btn {
    margin: 0;
    padding: 12px 40px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background: rgb(122, 122, 255);
    color: whitesmoke;
    font-weight: 700;
    border:none ;
}
.newsletter #submit-btn:hover {
    background: blue;
    color: white;
}
.newsletter #submit-btn:focus {
    background:rgb(230, 230, 230);
    color: black;
    border: none;
}

/* latest_news*/
.h1latest {
    max-width: 1500px;
    margin: 0 auto;
    font-weight: 900;
    font-size: 1.8rem;
    padding: 15px;
}
.latest-news {
    max-width: 1500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: auto;
    padding: 15px;
    margin: 0 auto;
}
.latest-news1 {
    width: 850px;
    height: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.latest-news2 {
    width: 420px;
    height: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.late-slide {
    max-width: 400px;
    height: 400px;
}

/*REVIEW*/
.review-text {
    padding: 10px;
    font-style: italic;
    font-size: .9rem;
}
.reviewer-name {
    font-weight: 800;
    font-size: 1.1rem;
}
.stars {
    color: rgb(253, 194, 0);
    font-weight: 900;
    font-size: 1.3rem;
}
.review {
    text-align: center;
    padding: 15px;
    max-width: 1400px;
    margin:auto;
}
.review-boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.review-boxes > div {
    max-width: 650px;
    padding: 40px 15px;
    margin: 20px 0px;
    border-radius: 8px;
    background: rgb(227, 231, 241);
    box-shadow: 6px 6px 15px rgb(143, 143, 143);
}
.review-boxes > div:hover {
    max-width: 650px;
    padding: 40px 15px;
    margin: 20px 0px;
    border-radius: 8px;
    background: rgb(227, 231, 241);
    box-shadow: 6px 6px 25px rgb(143, 143, 143);
    transition: .3s;
}
nav img, i {
    display: none;
}







/*DEVELOPERS STYLING*/
.contributors {
    max-width: 1300px;
    margin: auto;
    padding: 60px 15px;
    text-align: center;
}
.contributors h1 {
    font-size: 3rem;
}
.parent-contributors {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.developers-boxes {
    width: 500px;
    text-align: center;
    margin: 40px;
    box-shadow: 3px 6px 15px silver;
    border-radius: 20px;
}
.developers-boxes p {
    padding: 0 7px;
}
.developers-boxes button {
    width: 100%;
    border: none;
    margin: 0;
    padding: 12px;
    font-size: 17px;
    font-weight: 500;
    background: rgb(0, 0, 0);
    color: white;
}
.developers-boxes button:focus {
    background: dodgerblue;
}
.C1 {
    font-weight: 400;
    font-size: 17px;
    margin: 15px 0;
}
.C2 {
    font-weight: 700;
    font-size: 20px;
    margin: 15px 0;
}

/* modal sign up form */
.exam-name {
    color:rgb(243, 243, 243);
    font-weight: 900;
}
.sign-up-form {
    margin-top: 20px;
    margin-bottom: 20px;
    padding:0 15px;
}
.create {
    text-align: center;
    font-weight: 700;
    font-size: 1.2rem;
    padding: 10px 0;
    color: dodgerblue;
}
.short-info {
    font-size: .8rem;
    margin: 0;
    text-align: center;
    color: dimgray;
}

.input-s {
    margin-top: 25px;
    width: 100%;
    border: none;
    border-bottom: 1px solid #000;
    color: black;
    outline: none;
}
.input-s::placeholder {
    color: grey;
}
.first-name {
    margin-top: 30px;
}
.captcha {
    margin: 20px 0;
}
.terms {
    margin: 5px;
}
.TC {
    font-size: .8rem;
}
.startBtn {
    width: 100%;
    padding: 12px 35px;
    margin: 20px 0;
    border: none;
    background:rgb(0, 142, 189);
    color: white;
    font-size: 1rem;
    text-align: center;
}
.next-style {
    width: fit-content;
    margin: 10px;
    padding: 8px 20px;
    border-bottom: 1px solid #000;
}



/*Mobile development*/
@media (max-width:500px) {
    .logo{
        text-align: left;
        padding: 10px;
        margin: 0;
        position: absolute;
        top: 30px;
    }
    .map {
        margin:50px auto;
        width: 90%;
    }
    
    .top-display {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding: 10px 15px;
        margin-top: 10px;
    }
    .f-btn {
        width: 100%;
        padding: 12px 50px;
        border: none;
        color:white ;
        font-size: 1.5;
        font-weight: 700;
        border-radius: 5px;
        margin-right: 10px;
        margin-bottom: 10px;
    }
    .s-btn {
        width: 100%;
        margin: auto;
        padding: 12px 50px;
        margin-top: 15px;
        color:rgb(0, 0, 0) ;
        border-radius: 5px;
        font-size: 1.5;
        font-weight: 700;
    }
    .scholarships button {
        padding: 13px 55px;
        border: none;
        font-size: 17px;
        font-weight: 700;
        border-radius: 10px;
        background:#f66b0e ;
        color: white;
        margin-top: 35px;
        width: 100%;
        margin-bottom: 60px;
    }
    
.scholarships h3{
    font-size: 17px;
    color: #f66b0e;
    font-weight: 800;
    text-align: center;   
}

.scholarships h1{
    font-size: 2rem;
    font-weight: 800;
    color:rgb(0, 0, 104);
    margin-top: 5px;
    text-align: center;
}
.scholarships {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 100px;
    padding: 15px;
}

footer {
    background: black;
    color: rgb(245, 238, 238);
    padding: 10vh 0 5vh 0;
    width: 100%;
    height: auto;
}
footer .cover {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 95%;
    margin: auto;
    background: inherit;
}
footer .cover ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
}

footer .cover ul li {
    margin: 10px;
    padding: 10px;
    font-size: 14px;
    font-weight: 600;
}

footer .consst {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 95%;
    margin: auto;
    background: inherit;
    line-height: 1.4rem;
    font-size: .8rem;
    color: grey;
}
footer .consst > div {
    max-width: 420px;
    margin: 20px;
    padding: 10px;
}
.copyright {
    text-align: center;
    margin-top: 50px;
    font-size: .8rem;
    color: grey;
}

.para1 {
    max-width: 95%;
    margin: 50px auto;
}
.para1 p {
    padding: 0 10px;
    font-size: .9rem;
    line-height: 1.4rem;
    max-width: 750px;
}
.top-heading-category {
    font-size: 2.5rem;
    font-weight: 800;
    background-image:   linear-gradient(to bottom right, #205375, #f66b0e);
    -webkit-background-clip: text;
    color: transparent;
    padding: 15px;
}


.test-category-toefl button {
    width: 100%;
    padding: 12px 0px;
    border: none;
    background-image:linear-gradient(to right, #205375, #f66b0e);
    color:white ;
    font-size: 1.5;
    font-weight: 700;
    border-radius: 5px;
    margin: 30px 0px;
    box-shadow: 6px 6px 10px #999;
}

.flex-box-qst {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 15px;
}

.flex-box-qst > div {
    max-width: 400px;
    padding: 30px;
    box-shadow: 0px 0px 20px rgb(211, 211, 211);
    margin: 40px 0;
}

.flex-box-qst > div p {
    color: grey;
    padding: 0 20px;
}

.flex-box-qst > div h2 {
    font-weight: 700;
    size: 20px;
}

/* latest_news*/
.latest-news {
    max-width: 98%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: auto;
    padding: 8px;
    margin: 80px auto;
}
.latest-news1 {
    width: 100%;
    height: 900px;
    background: rgb(0, 0, 0);
    margin: 40px 0px;
}
.latest-news2 {
    width: 100%;
    height: 900px;
    background: rgb(0, 0, 0);
    margin: 40px 0px;
}


/* latest_news*/
.h1latest {
    width: 100%;
    margin: 0 auto;
    font-weight: 900;
    font-size: 1.8rem;
    padding: 15px;
    background: none;
}
.latest-news {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: auto;
    padding: 15px;
    margin: 0 auto;
    background: none;
}
.latest-news1 {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    background: none;
}
.latest-news2 {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: none;
}
.late-slide {
    max-width: 100%;
    min-height: 400px;
    background: none;
}
.h1latest h1 {
    text-align: center;
}


/*Newsletter*/
.newsletter {
    max-width: 1000px;
    margin: 80px auto;
    text-align: center;
    padding: 15px;
}

.newsletter p {
    text-align: center;
    max-width: 700px;
    margin: 10px auto 30px auto;
    font-size: 13px;
    color: grey;
}

.newsletter #mail{
    width: 95%;
    margin: 10px;
    padding: 12px 5px 12px 15px;
    border-radius: 20px;
    background: rgb(240, 240, 240);
    color: grey;
    border:none;
    outline: none;
}

.newsletter #mail:focus {
    outline: none;
}

.newsletter #submit-btn {
    width: 95%;
    margin: 10px;
    padding: 12px 40px;
    border-radius: 20px;
    background: rgb(122, 122, 255);
    color: whitesmoke;
    font-weight: 700;
    border:none ;
}


/*access test box*/
.access-test-box {
    max-width: 1250px;
    margin: 0 auto;
}
.access-test-box h1 {
    text-align: center;
}
.parag {
    text-align: center;
    max-width: 500px;
    margin: 10px auto 30px auto;
    font-size: 14px;
}
.test-type {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.test-type > div {
    max-width: 500px;
    padding: 30px;
    box-shadow: 1px 1px 10px rgb(214, 214, 255);
    margin: 20px;
}
.test-type > div p {
    font-size: 14px;
    margin: 20px 0px 0px 0px;
}
.test-type button {
    background: none;
    border: 1px solid blue;
    color: blue;
    padding: 9px 40px;
    border-radius: 50px;
    margin: 20px 0px 0px 0px;
}

.study-materials {
    text-align: center;
    padding: 10vh 10px;
    margin: 50px 0;
    background: rgb(233, 233, 233);
}
.study-materials p {
    font-size: 14px;
    font-weight: 300;
    color: grey;
    margin: 0px 0 0px 0;
}
.study-materials button {
    width: 90%;
    padding: 12px 70px;
    border: none;
    margin: 0px 0;
    border-radius: 40px;
    background: blue;
    color: white;
    font-weight: 700;
}
.study-materials button:hover {
    background: rgb(96, 147, 255);
    color: white;
}
.study-materials button:focus {
    background: rgb(96, 147, 255);
    color: white;
    border: none;
}


/* developers section */
.contributors {
    max-width: 1300px;
    margin: auto;
    padding: 60px 10px;
    text-align: center;
}
.contributors h1 {
    font-size: 2rem;
}
.parent-contributors {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.developers-boxes {
    max-width: 300px;
    text-align: center;
    margin: 40px 0;
}
.developers-boxes button {
    width: 100%;
    border: none;
    margin: 0;
    padding: 12px;
    font-size: 17px;
    font-weight: 500;
    background: rgb(0, 0, 0);
    color: white;
}
.developers-boxes button:focus {
    background: dodgerblue;
}
.C1 {
    font-weight: 400;
    font-size: 17px;
    margin: 15px 0;
}
.C2 {
    font-weight: 700;
    font-size: 20px;
    margin: 15px 0;
}


/* MODAL BEGINNING CSS */
.modal {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: rgba(0,0,0,0.1);
    backdrop-filter: blur(0.1rem);
}
.noticeModal {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top:0;
    width: 100%;
    height: 100vh;
    overflow: auto;
    background: rgba(255, 0, 0, 0.9);
    backdrop-filter: blur(0.1rem);
    background: rgba(255, 255, 255, 0.1 );
    backdrop-filter: blur(1rem);
}
.qst {
    font-weight: 900;
    font-size: 1.8rem;
}
.modal p {
    line-height: 1.3rem;
}
.no {
    width: 120px;
    padding: 10px 20px;
    margin-right: 10px;
    background: rgb(0, 0, 185);
    color: whitesmoke;
    border: none;
    font-weight: 700;
}
.yes {
    width: 120px;
    padding: 10px 20px;
    background: whitesmoke;
    color:rgb(0, 0, 185) ;
    font-weight: 700;
    border: none;
}
.modal-content {
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    margin: 15% auto;
    padding: 20px;
    width:450px;
    min-height: 200px;
}
.notice-modal-content { 
    text-align: center;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    margin: 10vh auto;
    padding: 20px;
    width:450px;
    min-height: 200px;
}
.notice-modal-content h2 {
    font-size: 30px;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 15px;
}
.notice-modal-content p{ 
    width: 90%;
    margin: auto;
    font-size: .9rem;
    text-align: center;
    margin: 15px 0;
}
.notice-modal-content button {
    background: dodgerblue;
    color: white;
    width: 90%;
    border: none;
    padding: 18px 0;
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.close {
    color: rgb(0, 0, 0);
    float: right;
    font-size: 30px;
    font-weight: 500;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

}
/*End of mobile dev*/






/*TABLET DEVELOPMENT*/
@media (max-width:1200px) {
 
    

/* MODAL BEGINNING CSS */
.modal {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: rgba(0,0,0,0.1);
    backdrop-filter: blur(0.1rem);
}
.noticeModal {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top:0;
    width: 100%;
    height: 100vh;
    overflow: auto;
    background: rgba(255, 0, 0, 0.9);
    backdrop-filter: blur(0.1rem);
    background: rgba(255, 255, 255, 0.1 );
    backdrop-filter: blur(1rem);
}
  
.notice-modal-content {
    text-align: center;
    margin: 10vh auto;
    padding: 20px 10px;
    max-width:600px;
    min-height: 200px;
}
.notice-modal-content h2 {
    font-size: 30px;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 15px;
}

.notice-modal-content button {
    background: dodgerblue;
    color: white;
    width: 90%;
    border: none;
    padding: 18px 0;
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.qst {
    font-weight: 900;
    font-size: 1.8rem;
}
.modal p {
    line-height: 1.3rem;
}
.no {
    width: 120px;
    padding: 10px 20px;
    margin-right: 10px;
    background: rgb(0, 0, 185);
    color: whitesmoke;
    border: none;
    font-weight: 700;
}
.yes {
    width: 120px;
    padding: 10px 20px;
    background: whitesmoke;
    color:rgb(0, 0, 185) ;
    font-weight: 700;
    border: none;
}
.modal-content {
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    margin: 15% auto;
    padding: 20px;
    width:450px;
    min-height: 200px;
}
.notice-modal-content { 
    text-align: center;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    margin: 10vh auto;
    padding: 20px;
    width:450px;
    min-height: 200px;
}
.notice-modal-content h2 {
    font-size: 30px;
    font-weight: 800;
    margin-top: 30px;
    margin-bottom: 15px;
}

.notice-modal-content button {
    background: dodgerblue;
    color: white;
    width: 90%;
    border: none;
    padding: 18px 0;
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.close {
    color: rgb(0, 0, 0);
    float: right;
    font-size: 30px;
    font-weight: 500;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.h1latest {
    max-width: 1500px;
    margin: 0 auto;
    font-weight: 900;
    font-size: 1.8rem;
    padding: 15px;
}
.h1latest h1 {
    text-align: center;
}
.latest-news {
    max-width: 1500px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 15px;
    margin: 0 auto;
}
.latest-news1 {
    max-width: 980px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.latest-news2 {
    max-width: 980px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
.late-slide {
    max-width: 400px;
    min-height: 400px;
}

}
/* End of Tablet Development */





@media (max-width: 550px) {
    
.modal-content {

        margin: 50% auto;
        padding: 20px 10px;
        max-width:300px;
        min-height: 200px;
    }    
.notice-modal-content {
    text-align: center;
    margin: 10vh auto;
    padding: 20px 10px;
    max-width:300px;
    min-height: 200px;
}
.notice-modal-content h2 {
    font-size: 30px;
    font-weight: 800;
    margin-top: 30px;
    margin-bottom: 15px;
}

.notice-modal-content button {
    background: dodgerblue;
    color: white;
    width: 90%;
    border: none;
    padding: 18px 0;
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.no {
    width: 120px;
    padding: 10px 20px;
    margin-right: 10px;
    background: rgb(0, 0, 128);
    color: whitesmoke;
    border: none;
    font-weight: 700;
}
.yes {
    width: 120px;
    padding: 10px 20px;
    background: whitesmoke;
    color:rgb(0, 0, 0) ;
    font-weight: 700;
    border: none;
}
}
/* MODAL ENDING CSS */