
.about-us {
    padding: 20px;
    margin: 10vh auto;
}
.about-us h1 {
    text-align: center;
    font-size: 3.5rem;
    padding: 20px 0;
    font-weight: 900;
}
.invalid {
    color: rgb(247, 247, 247);
    font-weight: 900;
    margin-bottom: -100px;
    font-size: .9rem;
}
.about-boxes {
    max-width: 1500px;
    margin: auto;
    line-height: 1.5rem;
    font-size: 17px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
}
.about-boxes > div:nth-child(1) {
}

@keyframes myAnimation {
    0% {
        background-image: url(./bg-images/319653.jpg);
        background-size: cover;
        transition: 0.5s;
    }
    50% {
        background-image: url(./bg-images/532222.jpg);
        background-size: cover;
    }
    100% {
        background-image: url(./bg-images/eFootball\ PES\ 2020\ Wallpaper\ HD\ Games\ 4K\ Wallpapers\ Images.jpg);
        background-size: cover;
    }

}
.about-boxes > div:nth-child(2) {
    animation-name: myAnimation;
    animation-duration: 15s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    background: #567;
    width: 100%;
    height: 400px;
    margin: 30px 0;
}
.about-bg-inner {
    background-image:linear-gradient(to right, rgb(0, 0, 0),rgba(0, 0, 0,0.7), rgba(0,0,0,0.3));
    color: rgb(243, 243, 243);
    width: 100%;
    height: 100%;
    display: flex;    
    justify-content: center;
    align-items: center;
    padding: 40px;
    text-align: center;
    line-height: 2.5rem;
    font-size: 1.2rem;
}
.team-box {
    max-width: 1500px;
    margin: 10vh auto;
    padding: 20px;
}
.team-box h1 {
    font-size: 3.6rem;
    padding: 10px 0;
    margin: 0;
}
.team-box h3 {
    font-weight: 600;
    padding: 10px 0;
    font-size: 1.5rem;
}
.team-box p {
    padding: 10px 0;
}
.team-bio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    line-height: 1.5rem;
}
.team-bio > div:nth-child(1) {
    max-width: 600px;
    padding: 40px 0;
}
.team-bio > div:nth-child(2) {
    /* background: url(./bg-images/532222.jpg);
    background-size: cover;
    background-clip: text; */
    padding: 3vh;
    border-radius: 100px 0 100px 0;
    width: 750px;
    height: 400px;
}
.join-team {
    border: none;
    background: dodgerblue;
    color: white;
    padding: 10px 45px;
    font-size: 1rem;
    font-weight: 700;
    margin-top: 10px;
}
.video {
    width: 100%;
    border-radius: 100px 0 100px 0;
}
.work-clt {
    max-width: 1500px;
    margin: 10vh auto;
    padding: 20px;
    line-height: 1.3rem;
}
.qualities {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.qualities > div:nth-child(1) {
    max-width: 500px;
    height: 300px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 1.3rem;

}
.line {
    width: 60px;
    height: 5px;
    background: dodgerblue;
    border-radius: 50px;
    margin: 10px 0;
}
.qualities > div:nth-child(1) > div {
    width: 45%;
}
.qualities > div:nth-child(2) {
    max-width: 500px;
    height: 300px;
    padding:3em 25px;
    box-shadow: 0px 0px 20px rgb(221, 221, 221);
}
.qualities > div:nth-child(2) h1{
    color: dodgerblue;
}
.qualities > div:nth-child(3) {
    max-width: 350px;
    height: 300px;
    padding:4em 25px;
    box-shadow: 0px 0px 20px rgb(221, 221, 221);
    background: dodgerblue;
    color: white;
}

.clt-box {
    display: flex;
    background: aquamarine;
}

@media (max-width:850px) {
    .about-us {
        padding: 20px;
        margin: 2vh auto;
    }
    .about-us h1 {
        text-align: center;
        font-size: 2.5rem;
        padding: 15px;
        font-weight: 900;
    }
    .about-boxes {
        max-width: 1500px;
        margin: auto;
        line-height: 1.5rem;
        font-size: 16px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }
    .about-boxes > div:nth-child(1) {
    }
    
@keyframes myAnimation {
    0% {
        background-image: url(./bg-images/319653.jpg);
        background-size: cover;
        transition: 0.5s;
    }
    50% {
        background-image: url(./bg-images/532222.jpg);
        background-size: cover;
    }
    100% {
        background-image: url(./bg-images/eFootball\ PES\ 2020\ Wallpaper\ HD\ Games\ 4K\ Wallpapers\ Images.jpg);
        background-size: cover;
    }

}
.about-boxes > div:nth-child(2) {
    animation-name: myAnimation;
    animation-duration: 15s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    background: #567;
    width: 100%;
    min-height: 200px;
    margin: 30px 0;
}
.about-bg-inner {
    background-image:linear-gradient(to right, rgb(0, 0, 0),rgba(0, 0, 0,0.7), rgba(0,0,0,0.3));
    color: rgb(243, 243, 243);
    width: 100%;
    height: 100%;
    display: flex;    
    justify-content: center;
    align-items: center;
    padding: 40px;
    text-align: center;
    line-height: 2rem;
    font-size: 1rem;
}
.team-box {
    max-width: 1500px;
    margin: 2vh auto;
    padding: 20px;
}
.team-box h1 {
    text-align: center;
    font-size: 2.6rem;
    padding: 10px 0;
    margin: 0;
}
.team-box h3 {
    text-align: center;
    font-weight: 600;
    padding: 10px 0;
    font-size: 1.3rem;
}
.team-box p {
    padding: 10px 0;
    font-size: 1rem;
}
.team-bio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    line-height: 1.5rem;
}
.team-bio > div:nth-child(1) {
    margin: auto;
    max-width: 600px;
    padding: 40px 0;
}
.team-bio > div:nth-child(2) {
    /* background: url(./bg-images/532222.jpg);
    background-size: cover;
    background-clip: text; */
    padding:0;
    margin: auto;
    max-width: 550px;
    max-height: 250px;
}
.join-team {
    width: 100%;
    border: none;
    background: dodgerblue;
    color: white;
    padding: 13px 50px;
    font-size: 1.1rem;
    font-weight: 700;
    margin-top: 10px;
}
.video {
    width: 100%;
    border-radius: 50px 0 50px 0;
}
.work-clt {
    max-width: 1500px;
    margin: 5vh auto;
    padding: 20px;
    line-height: 1.3rem;
}
.qualities {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.qualities > div:nth-child(1) {
    max-width: 500px;
    min-height: 300px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 1.2rem;
}
.line {
    width: 60px;
    height: 5px;
    background: dodgerblue;
    border-radius: 50px;
    margin: 10px 0;
}
.qualities > div:nth-child(1) > div {
    width: 45%;
}
.qualities > div:nth-child(2) {
    margin-top: 5vh;
    margin-bottom: 5vh;
    max-width: 500px;
    min-height: 350px;
    padding:3em 25px;
    box-shadow: 0px 0px 20px rgb(221, 221, 221);
}
.qualities > div:nth-child(2) h1{
    color: dodgerblue;
}
.qualities > div:nth-child(3) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 500px;
    min-height: 170px;
    padding:1em 25px;
    box-shadow: 0px 0px 20px rgb(221, 221, 221);
    background: dodgerblue;
    color: white;
}

.clt-box {
    display: flex;
    background: aquamarine;
}

}
@media (max-width: 500px) {
    body{
        /* background: lightblue; */
    }
    .invalid {
        display: none;
    }
    .about-us {
        padding: 20px;
        margin: 2vh auto;
    }
    .about-us h1 {
        text-align: center;
        font-size: 2.5rem;
        padding: 15px;
        font-weight: 900;
    }
    .about-boxes {
        max-width: 1500px;
        margin: auto;
        line-height: 1.5rem;
        font-size: 16px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }
    .about-boxes > div:nth-child(1) {
    }
    
@keyframes myAnimation {
    0% {
        background-image: url(./bg-images/319653.jpg);
        background-size: cover;
        transition: 0.5s;
    }
    50% {
        background-image: url(./bg-images/532222.jpg);
        background-size: cover;
    }
    100% {
        background-image: url(./bg-images/eFootball\ PES\ 2020\ Wallpaper\ HD\ Games\ 4K\ Wallpapers\ Images.jpg);
        background-size: cover;
    }

}
.about-boxes > div:nth-child(2) {
    animation-name: myAnimation;
    animation-duration: 15s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    background: #567;
    width: 100%;
    min-height: 200px;
    margin: 30px 0;
}
.about-bg-inner {
    background-image:linear-gradient(to right, rgb(0, 0, 0),rgba(0, 0, 0,0.7), rgba(0,0,0,0.3));
    color: rgb(243, 243, 243);
    width: 100%;
    height: 100%;
    display: flex;    
    justify-content: center;
    align-items: center;
    padding: 40px;
    text-align: center;
    line-height: 2rem;
    font-size: 1rem;
}
.team-box {
    max-width: 1500px;
    margin: 2vh auto;
    padding: 20px;
}
.team-box h1 {
    text-align: left;
    font-size: 2.6rem;
    padding: 10px 0;
    margin: 0;
}
.team-box h3 {
    text-align: left;
    font-weight: 600;
    padding: 10px 0;
    font-size: 1.3rem;
}
.team-box p {
    text-align: none;
    padding: 10px 0;
    font-size: 1rem;
}
.team-bio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    line-height: 1.5rem;
}
.team-bio > div:nth-child(1) {
    max-width: 600px;
    padding: 40px 0;
}
.team-bio > div:nth-child(2) {
    /* background: url(./bg-images/532222.jpg);
    background-size: cover;
    background-clip: text; */
    padding:0;
    max-width: 750px;
    max-height: 250px;
}
.join-team {
    width: 100%;
    border: none;
    background: dodgerblue;
    color: white;
    padding: 13px 50px;
    font-size: 1.1rem;
    font-weight: 700;
    margin-top: 10px;
}
.video {
    width: 100%;
    border-radius: 50px 0 50px 0;
}
.work-clt {
    max-width: 1500px;
    margin: 5vh auto;
    padding: 20px;
    line-height: 1.3rem;
}
.qualities {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.qualities > div:nth-child(1) {
    max-width: 500px;
    min-height: 300px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 1.2rem;
}
.line {
    width: 60px;
    height: 5px;
    background: dodgerblue;
    border-radius: 50px;
    margin: 10px 0;
}
.qualities > div:nth-child(1) > div {
    width: 45%;
}
.qualities > div:nth-child(2) {
    margin-top: 5vh;
    margin-bottom: 5vh;
    max-width: 500px;
    min-height: 350px;
    padding:3em 25px;
    box-shadow: 0px 0px 20px rgb(221, 221, 221);
}
.qualities > div:nth-child(2) h1{
    color: dodgerblue;
}
.qualities > div:nth-child(3) {
    max-width: 350px;
    height: 300px;
    padding:4em 25px;
    box-shadow: 0px 0px 20px rgb(221, 221, 221);
    background: dodgerblue;
    color: white;
}

.clt-box {
    display: flex;
    background: aquamarine;
}
}
