
#mcmenu
{
    width:auto;
    display:block;
    text-align:center;
    font-family:Cormorant;
    line-height:1.2;
}
#mcmenu ul
{
    width:auto;
    display:block;
    font-size:0;
    text-align:center;
    color:#FFFFFF;
    background-color: #651d32;
    border: transparent;
    margin:0; 
    padding:0;
    list-style:none;
    position:relative;
    z-index:999999990;
    border-radius: 3px;
} 

#mcmenu li
{
    display:inline-block;
    position:relative;   
    font-size:0; 
    margin:0;
    padding:0;
}

/*Top level items
---------------------------------------*/
#mcmenu .top-item 
{
    font-size:22px;
    color:inherit;
    text-decoration:none;
    padding:20px 20px; 
    font-weight:400;
    text-transform:uppercase;
    letter-spacing:2px; 
    display:block;   
    position:relative;
    transition:all 0.3s;
}

#mcmenu li.over .top-item
{  
    color:#FFFFFF;
    background-color:#651d32;
}


/*Sub level items
---------------------------------------*/
#mcmenu .dropdown
{
    text-align:left;
    left:0;
    font-family:inherit;
    color: #FFFFFF;
    background-color:#743347;
    border:none;
    position:absolute;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    display:none;
    opacity:0;
    cursor:default;
}

#mcmenu .dropdown li {
    display: block;  
}

#mcmenu .sub-item, #mcmenu .clm a, #mcmenu .clm h3 
{
    font-size:18px;
    font-weight:400;
    font-family:inherit;
    margin:0;
    padding:12px 20px; 
    display:block;
    color:inherit;
    text-decoration:none;    
}
#mcmenu .clm h3 {
    font-size:20px;
    font-weight:700;
}
#mcmenu .sub-item {
    background-color:#743347;
    position:relative;       
    transition:all 0.3s;
}

#mcmenu li.over > .sub-item, #mcmenu li:hover > .sub-item
{
    color:#FFFFFF;
    background-color:#85384f;
}

#mcmenu .clm a:hover
{
    color:#FFFFFF;
    transition:color 0.2s;
}

#mcmenu .dropdown.right0 {left:auto;right:0;} 
#mcmenu .dropdown li > .dropdown.right0 {left:auto;right:100%;} 
       
#mcmenu li.full-width{
    position:static;
}
#mcmenu li.full-width .dropdown{
    width:100%;
    left:0;
    box-sizing:border-box;
}  

#mcmenu li.over > .dropdown
{
    display:block;
    opacity:1;
    z-index:1;
}

#mcmenu .dropdown li > .dropdown
{
    left:100%; right:auto;
    top:0;
}

#mcmenu ul.dropdown
{
    min-width:220px; /* Sub level menu min width */
}

#mcmenu div.dropdown  {
    text-align:center;
}

/* each column */
#mcmenu .clm
{
    text-align:left;
    margin:20px;
    vertical-align:top;/*or middle*/
    width:auto;
    min-width:220px;
    display:inline-block;
    *display:inline;*zoom:1;
}

#mcmenu .clm a:hover
{
    color:#FFFFFF;
    text-decoration:underline;
}

/*-----------Arrows----------------*/
#mcmenu .arrow {
    color:inherit;
    border-style:solid; border-width:2px 2px 0 0; padding:4px; transform:rotate(135deg);margin-top:-8.5px;margin-left:4px;
    position:relative;
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align:middle;
    overflow:hidden;/*for IE6*/
}
        
#mcmenu .dropdown .arrow,
#mcmenu.mobile .arrow {
    transform:rotate(45deg);
    top:50%;margin-top:-6px;
    position:relative;top:auto;
} 
#mcmenu.mobile .back-icon {
    margin:2px 10px 2px 4px;
    padding:4px;/*back arrow size*/
    border-width:0 0 2px 2px;/*back arrow thickness*/
    position:static;margin-top:0;
}
#mcmenu .back {
    display:none;
}
#mcmenu.mobile .back.show {
    display:block;
    text-align:center;
    margin:0;
    cursor:pointer;
    padding:20px 20px;
    color:#FFFFFF;
    background-color:#651d32;
    font-size:32px;
    font-weight:400;
    text-transform:uppercase;
    letter-spacing:2px;   
}

/*######## styles for mobile mode ########*/

#mcmenu.mobile  {
    width:100%;
    max-width:600px;
    display:block;
    background-color:#651d32;
    border:1px solid rgba(0,0,0,0.2);
    box-sizing:border-box;
}

/*--begin mark1--*/

#mcmenu.mobile  {
    position:fixed;top:0;bottom:0;left:0;right:0;height:100%!important;
    right:-130%;
    left:auto; box-shadow:-4px 0 18px rgba(0,0,0,0.3);
    transition:all 411ms cubic-bezier(.7, 0,1,.4);
}

#mcmenu.mobile.active {
    right:0;
    transition:all 411ms cubic-bezier(.16,.76,.45,1);
}

#mcmenu.mobile {z-index:1000000004;}
.mobile-fixed-bg {background:#000;z-index:1000000000;}
.mobile-fixed-bg.showing {display:block;opacity:0;}.mobile-fixed-bg.active {opacity:0.4;}
.menu-icon.active {position:fixed;top:12px;right:12px;z-index:1000000006;}

/*--end mark1--*/

#mcmenu.mobile ul  {
    background-color:transparent;
    transition:all 411ms ease;
    box-sizing:border-box;
    border:none;
    border-radius: 0;
}

#mcmenu.mobile .mobileHide {
    display:none;
}

#mcmenu.mobile li {
    text-align:center;
}

#mcmenu.mobile .top-item
{       
    font-size:32px;
}

/* #mcmenu.mobile li.over > .top-item
{
    color:#FFFFFF;
    background-color:#651d32;
} */

#mcmenu.mobile .dropdown {
    border:none;
    border-radius:0;
    box-shadow:none;
} 
  
#mcmenu.mobile .clm {
    text-align:center;
    width:100%;
    border:none;
    margin:0;
    padding:0;
    display:block;
}

/*----------- menu-icon ----------------*/
.menu-icon-wrapper {
    padding:5px;
    text-align:right;
}
.menu-icon {
    padding:9px;
    display:none;
    cursor: pointer;
    outline: none;
    background-color:#000000;
    border:1px solid transparent;
    border-radius:3px;
    transition: all 0.25s ease-out;
    user-select:none;
    box-sizing:content-box;
    font-size:0;
    position:relative;
}

.menu-icon.mobile {display:inline-block;}

.menu-icon.active{
    background-color:#000000;
}

.three-line{
  width: 22px;
  height: 20px;
  position: relative;
  display: inline-block;
  font-size: 0;
}
.three-line span{
  background-color:#FFFFFF;
  position: absolute;
  border-radius: 2px;
  transition: transform .5s ease-in-out;
  width:100%;
  height: 2px;
  left: 0;
  transform: rotate(0);
}
.three-line span:nth-child(1){
  top:0;
}
.three-line span:nth-child(2){
  top:9px;
  visibility:visible;
}
.three-line span:nth-child(3){
  bottom:0;
}

.menu-icon.active .three-line span:nth-child(1){
  transform: rotate(225deg);
  top: 9px;

}
.menu-icon.active .three-line span:nth-child(2){
  transform: rotate(180deg);
  visibility:hidden;
}
.menu-icon.active .three-line span:nth-child(3){
  transform: rotate(315deg);
  top: 9px;
}

@keyframes topItemAnimation{
  from {opacity: 0;  transform:translate3d(0, 10vh, 0);}
  to {opacity: 1; transform:translate3d(0, 0, 0);}
}

/*--Style the menu-icon--*/
.menu-icon {border-radius:50%;margin-right:12px;}
.menu-icon.active {background-color:transparent;}

#mcmenu .hasdd .top-item:before {
  content: '';
  position: absolute;
  width: 100%;
  top:0; bottom:0; height:auto;background-color: rgba(255,255,255,0.1);
  left: 0;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

#mcmenu .hasdd .top-item:hover:before {
  visibility: visible;
  transform: scaleX(1);
}